
body{
    /* background: yellow !important; */

    /* margin:0 auto; */
}
.toparea{
    background:#FAA630;
    padding:15px;

}
.toparea img .logo2{
    width:100%;
    height:82px;
}
.img1{
    height:89px;
    width:96px;
    background:white;

}
.toprow{
    color:white;
    font-size: 12px;
}
.xyz{
    font-size: 12px;
    /* background:red; */
    margin:0px;
    text-align: center;
    /* background:white; */
    border-bottom:solid 1px black;
}
/* .xyz .col1{
    background:pink;
    border:1px solid red;
    text-align: right;
    text-align: center;
} */
.xyz .col1 a{
    text-align: center;
    align-items: center;
}
.xyz a{
    color:black;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
}
.xyz a:after{
    content:" |";
}
.xyz a:last-child:after{
    content:"  |";
}
.xyz h6{
    padding:10px 8px;
    /* text-align: center; */
    color:white;
    background:#A12C2F;
    margin-bottom: 0px;
}
.xyz h6:hover{
    background:rgb(185, 56, 56);
}

/* .{
    border:3px solid black;
} */

.menuarea{
    /* background:red; */
}

.menuarea .navbar{
    width:100%;
    font-weight: bold;
    background:transparent !important;
    /* border:solid 3px black; */
}
.menuarea .navbar li a{
    color:#800000 !important;

    gap: 10px !important;
}

.menuarea .navbar li a:hover{
    text-decoration:  underline;
    text-decoration-color: white ;
}




.slidearea{
    width:100%;
    height:100%;
    /* padding:100px; */
    background:red;
}
.slidearea img{
    width:100%;
    height:100%;
}
.slidearea .slide_Image_text{
    border:2px solid black;
    width:100%;
    position:relative;
    /* transition:all 2s; */
}
.slidearea .slide_Image_text .box3 {
    background:black;
    color:white;
    position:absolute;
    left:35%;
    top:20%;
    text-align:center;
}


                                /*                                              BOXAREA */

.animatioarea{
    background:#FAA630;
    overflow: hidden;
}
.boxarea{
    background:#940404;
    padding:40px;
}
.box1 h5 , .box1 p{
    margin:0;
    background:pink;
    padding:20px;
    top:0;
}

.boxarea h4{
    background:#F4A30E;
    padding:30px 70px;
    text-align: center;
    /* margin:10px; */
    border-radius:5%;
}
.boxarea h4:hover{
    color:#8D0303;
}



.imgarea{
    width:100%;
    background:#FAA630;


}

.longimg{
    width:100%;
    background:#FAA630;
}
.imgarea img{
    width:100%;
    margin-left:5px;
}
.videoarea{
    padding:15px;
    background:white;
    text-align: justify;
    width:100%;
}
/* .videoarea p{
    text-align: center;
} */

.videoarea h3{
    padding:25px;
    text-align: center;
}
.imgarea2{
    width:100%;
    height:100%;
    padding:40px 0;
    background:#E09407;
}

.imgarea2 .box{
    margin:40px;
    border:solid 8px white;
    position:relative;
    display:flex;
    justify-content: center;
    overflow:hidden;
    align-items: center;
}
.imgarea2 .box img{
    width:100%;
    height:60%;
    transition:all 2s;
    overflow: hidden;
}

.imgarea2 .box h2{
    position:absolute;
    bottom:20%;
    color:white;
}
.imgarea2 .box img:hover{
    transform:scale(1.2,1.2)

}
.slidearea2{
    width:100%;
    background:#FBCE93;
    padding:50px;
    text-align: center;
}
.slidearea2 .carousel-inner {
    width:100%;
    height:100%;
    background:#F7D3A3;
    box-shadow: 0px 2px 8px black;
    text-align: center;

}
.slidearea2 .carousel-inner img{
    width:100%;
    height:100%;
    position:relative;
    overflow:none;
    border-top:solid 8px #2C0000;
    border-left:solid 8px #2C0000;
    border-bottom:solid 8px #D40000;
    border-right:solid 8px #D40000;
    

}
.slidearea2 .carousel-inner  h6{
    /* width:100%; */
    position:absolute;
    bottom:0.2%;
    padding:5px 50px;
    background:white;
    z-index:100;
    color:#800000;
    text-align:center;
    margin-left:6%;
}

.footerarea{
    width:100%;
    background:black;
    padding:20px;
    color:white;

}
.footerarea h3{
    color:#FFA500;
    text-align: center;
    position: relative;
}
/* .footerarea h3:before ,.footerarea h3 :after{
    position:absolute;
    top:0%;
    width:45%;
    height:4px;
	background:red;
    content:" ";


}
.footerarea h3:before{
    left:5%;
    
}

.footerarea h3:after{
    right:10%;
    
} */



.footerarea iframe{
    width:100%;
    height:100%;
}
.footerarea ul{
    color:#FFB758;
}

.footerarea ul li{
    list-style:none;
    color:#FFB758;

}
.footerarea ul li a{
    text-decoration:none;
    color:#FFB758;
}
/* .footerarea .abs{
    width:auto;
 } 
.footerarea .abs li a{
    width:100%;
    height:100%;
    background:red;
    transition: all 2s;
}
.footerarea .abs ul li a:hover{
    transform:translateX(10px) !important;
transform:scale(10.2,10.2);
    color:yellow;

} */

.logodiv i{
    /* width:40px; */
    /* height:40px; */
    padding: 10px;
    margin :10px;
    border:2px solid white;
    /* display:flex; */
    text-align: center;
    align-items: center;
    justify-content: center;

    
}
.logodiv i:hover{
    background-color: #304772;
}








